<% if flash[:notice] %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
    <% end %>
        <div class="create_component">
            <a href="<%= new_question_path %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#question_active" class="active">Active Questions</a></li>
                    <li class="tab col s6"><a href="#question_deleted">Deleted Questions</a></li>
                </ul>
            </div>
            <div id="question_active" class="col s12" style="padding-top: 20px;">
                <div class="row">
                    <div class="container-flush">
                        <div class="col l12 m12 s12 z-depth-2">
                            <div class="col l12 m12 s12">
                                <table class="highlight centered bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th width="15%">
                                                Title
                                            </th>
                                            <th width="20%">
                                                Content
                                            </th>
                                            <th>
                                                Total Answers
                                            </th>
                                            <th>
                                                Approved Answer
                                            </th>
                                            <th>
                                                UserId
                                            </th>
                                            <th>
                                                GroupId
                                            </th>
                                            <th>
                                                SubId
                                            </th>
                                            <th>
                                                Created Date
                                            </th>
                                            <th>
                                                Updated Date
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @questions.each do |question|%>
                                            <% if question.active == true %>
                                                <tr>
                                                    <td>
                                                        <%= question.quesId%>
                                                    </td>
                                                    <td>
                                                        <%= question.title%>
                                                    </td>
                                                    <td>
                                                        <%= question.content%>
                                                    </td>
                                                    <td>
                                                        <%= question.totalAnswers%>
                                                    </td>
                                                    <td>
                                                        <%= question.approvedAnswer%>
                                                    </td>
                                                    <td>
                                                        <%= question.userId%>
                                                    </td>
                                                    <td>
                                                        <%= question.groupId || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.subId || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.createdDate || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.updatedDate || "empty"%>
                                                    </td>
                                                    <td style="padding-top: 5px;">
                                                      <a class="waves-effect waves-light btn" href="<%= edit_question_path(question.quesId) %>">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                   <%= link_to (question_path(question.quesId)), method: :delete,
                                  data: { confirm: "You sure?" }, class: "waves-effect waves-light btn red accent-4" do %>
                                                            <i class="large material-icons">delete</i>
                                                            <% end %>

                                                    </td>
                                                </tr>
                                                <% end %>
                                                    <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="center">
                            <%= paginate @questions, theme: 'twitter-bootstrap-3' %>
                        </div>

                    </div>

                </div>
            </div>
            <div id="question_deleted" class="col s12" style="padding-top: 20px;">
              <div class="row">
                    <div class="container-flush">
                        <div class="col l12 m12 s12 z-depth-2">
                            <div class="col l12 m12 s12">
                                <table class="highlight centered bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th width="15%">
                                                Title
                                            </th>
                                            <th width="20%">
                                                Content
                                            </th>
                                            <th>
                                                Total Answers
                                            </th>
                                            <th>
                                                Approved Answer
                                            </th>
                                            <th>
                                                UserId
                                            </th>
                                            <th>
                                                GroupId
                                            </th>
                                            <th>
                                                SubId
                                            </th>
                                            <th>
                                                Created Date
                                            </th>
                                            <th>
                                                Updated Date
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @questions.each do |question|%>
                                            <% if question.active == false %>
                                                <tr>
                                                    <td>
                                                        <%= question.quesId%>
                                                    </td>
                                                    <td>
                                                        <%= question.title%>
                                                    </td>
                                                    <td>
                                                        <%= question.content%>
                                                    </td>
                                                    <td>
                                                        <%= question.totalAnswers%>
                                                    </td>
                                                    <td>
                                                        <%= question.approvedAnswer%>
                                                    </td>
                                                    <td>
                                                        <%= question.userId%>
                                                    </td>
                                                    <td>
                                                        <%= question.groupId || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.subId || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.createdDate || "empty"%>
                                                    </td>
                                                    <td>
                                                        <%= question.updatedDate || "empty"%>
                                                    </td>
                                                    <td style="padding-top: 5px;">
                                                      <%= link_to (question_path(question.quesId)), method: :delete,
                                  data: { confirm: "You sure?" }, class: "waves-effect waves-light btn blue lighten-3" do %>
                                                            <i class="large material-icons">backup</i>
                                                            <% end %>

                                                    </td>
                                                </tr>
                                                <% end %>
                                                    <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
